.form {

    &__block {
        padding: 20px 25px 25px;
        margin-bottom: 20px;
        
        &_title {
            display: flex;
            width: 180px;
            justify-content: space-around;
            align-items: center;
            .car {
                height: 25px;
            }
            .title {
                font-size: 16px;
                font-weight: 700;
            }
        }
        &-number {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &_input {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .none {
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            .number:hover + .none {
                opacity: 1;
              }
            .number {
                width: 275px;
                height: 48px;
                border-radius: 5px; 
                &:hover {
                    + .image-overlay {
                      opacity: 1;
                    }
                }     
            }
            .image-overlay {
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease;
              }            
        }
    }
}

  
 
  
// .input-container {
//     position: relative;
//     margin: 20px;
  
//     input {
//       padding: 10px;
//       width: 200px;
  
//       &:hover {
//         + .image-overlay {
//           opacity: 1;
//         }
//       }
// //     }
  
//     .image-overlay {
//       position: absolute;
//       top: 50%;
//       left: 100%;
//       transform: translate(-50%, -50%);
//       opacity: 0;
//       transition: opacity 0.3s ease;
//     }
// //   }